<p class="text-center text-muted">&copy; Copyright 2015 Griffin Hammer</p>
<a href="http://steampowered.com"><p class="text-center text-muted">Powered by Steam</p></a>
<script type="text/javascript" src="https://code.jquery.com/jquery-git2.min.js"></script>
<script type="text/javascript" src="javascripts/isotope.pkgd.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71575226-2', 'auto');
  ga('send', 'pageview');

</script>
