
<% include head %>

<body>
    <header>
        <% include header %>
    </header>
    <div class="main-div">

        <img src="<%=heroes.img%>">
        <h2><%= heroes.localized_name %></h2>
        <div class="voting-buttons">
            <h2 class="btn btn-lg btn-success">Buff!</h2>
            <h2 class="btn btn-lg btn-danger">Nerf!</h2>
        </div>
    </div>
    <footer><% include footer %></footer>
</body>
</html>