
<% include head %>

<body>
    <header>
        <% include header %>
    </header>
    <div class="main-div">
        <img src="<%=heroes.img%>">
        <h2><%= heroes.localized_name %></h2>
        <div class="voting-buttons">
            <form class="vote-button" action="./buff" method="post">
                <input type="hidden" name="heroId" value="<%=heroes.id %>" />
                <input type="submit" class="btn btn-lg btn-success" value="Buff!">
            </form>
            <span class="middle-text">OR</span>
            <form class="vote-button" action="./nerf" method="post">
                <input type="hidden" name="heroId" value="<%=heroes.id %>" />
                <input type="submit" class="btn btn-lg btn-danger" value="Nerf!">
            </form>
        </div>
    </div>
    <footer><% include footer %></footer>
</body>
</html>