<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    Here is the body!
    <%= "print me" %>
    <% 
        var name = 'griffin';
        if(name == 'griffin') {
    %>
    Griffin
    <% } %>
</body>
</html>