
 include head

<body>
    <header>
         include header
    </header>
    <div class="main-div">
        <h2>You have voted on all heroes!</h2>
        <h3>Come back after the next balance patch to vote again!</h3>
        <form action="./new_user" method="post">
            <input type="submit" class="btn btn-large btn-primary" value="Create New Account">
        </form>
    </div>
    <footer> include footer</footer>
</body>
</html>