body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-div{
    margin-top: 10px;
    text-align: center;
}

.voting-buttons{
    margin-bottom: 10px;

}

.vote-button{
}

.middle-text{
    font-size: 18px;
    margin: 0 15px;
}

img{
    width: 351px;
}