body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.buff{
    color: green;
}

.balanced{
    color: blue;
}

.nerf{
    color: red;
}

.main-div{
    margin-top: 10px;
    text-align: center;
}

.voting-buttons{
    margin-bottom: 10px;
    width: 350px;
    overflow: hidden;
    margin: auto auto 10px;

}

.vote-button{
    width: 33.3%;
    float: left;
}

.middle-text{
    font-size: 18px;
    margin: 0 15px;
}

img{
    width: 351px;
}
img.standing-img{
    width: 234px;
}
.hero-wrap{
    height: 300px;
    width: 275px;
}

.sort-select-box{
    padding-bottom: 20px;
}