body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-div{
    margin-top: 10px;
    text-align: center;
}

.voting-buttons{
    margin-bottom: 10px;
}

img{
    width: 351px;
}